# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.pub-cache/
*.flutter-plugins
*.flutter-plugins-dependencies

# Android related
**/android/key.properties
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
Pods/
DerivedData/
.xcworkspace
*.xcuserstate

# VS Code settings
.vscode/

# Other
.idea/
*.iml
*.log
*.lock
